<section class="section main">
  <article class="section__content main__content">
    <div class="main__content-info">
      <h1 class="main__content-info-title">
        The Best experience of <span>music</span> in 2021
      </h1>

      <p class="main__content-info-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        vitae ligula placerat, eleifend ex non, vehicula libero. Suspendisse
        eget tellus lectus.
      </p>

      <div class="main__content-info-video">
        <button type="button" class="main__content-info-video-button">
          Get Started
        </button>

        <div class="main__content-info-video-play">
          <img
            class="main__content-info-video-play-icons"
            src="../../assets/icons/main-icons/play.svg"
            alt=""
          />
          <a href="#video">
            <span class="main__content-info-video-play-link">Watch Video</span>
          </a>
        </div>
      </div>
    </div>
  </article>
  <p class="main__times">22d 13f 46m 18s</p>
</section>
