@import "../../assets/styles/variables.scss";
@import "category-variables.scss";

$category-map: (
  1 $dulce-de-leche $white $pop,
  2 $red-mana $white $folk,
  3 $color-namer $white $instrumental,
  4 $jealous-jellyfish $white $rock,
  5 $chromis-damsel-blue $white $jazz,
  6 $dulce-de-leche $white $pop,
  7 $red-mana $white $folk,
  8 $color-namer $white $instrumental,
  9 $jealous-jellyfish $white $rock,
  10 $chromis-damsel-blue $white $jazz
);

.category__slider-slide {
  @each $index, $color-icon, $change-color-icon, $bg-color in $category-map {
    &:nth-child(#{$index}) {
      background-color: $bg-color;

      &:hover {
        & svg {
          fill: $change-color-icon;
        }
      }

      .category__slider-slide {
        &-info {
          &-icon {
            fill: $color-icon;
          }
        }
      }
    }
  }
}

.category {
  font-family: map-get($font-change, "montserrat");
  margin-top: 240px;
  overflow: hidden;
  position: relative;
  height: 466px;

  &__confetti {
    position: absolute;
    width: 100%;
    height: 100%;

    @include mobile(990px) {
      display: none;
    }

    &-one {
      position: absolute;
      top: 40px;
      left: 100px;
      fill: transparent;
      width: 102px;
      height: 102px;
      z-index: 2;
    }

    &-two {
      width: 161px;
      height: 112px;
      position: absolute;
      left: 112px;
      bottom: 0px;
      fill: transparent;
      z-index: 2;
    }

    &-three {
      width: 40px;
      height: 25px;
      position: absolute;
      top: 95px;
      right: 160px;
      z-index: 2;
    }

    &-four {
      width: 27px;
      height: 26px;
      position: absolute;
      right: 60px;
      bottom: 50px;
      z-index: 2;
    }
  }

  &__title {
    @include font(34px, 700, $black-out);

    @include mobile(1200px) {
      text-align: center;
    }

    & span {
      color: $blue-copper-ore;
      margin-left: 365px;

      @include mobile(1200px) {
        margin-left: 0px;
      }
    }
  }

  &__slider {
    margin-top: 60px;

    @include mobile(1540px) {
    }

    &-slide {
      height: 326px;
      border-radius: 24px;

      &:hover {
        background-color: $blue-copper-ore;

        & span {
          color: $white;
        }
      }

      &-info {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 66px 99px 36px 60px;

        @include mobile(1620px) {
          padding: 70px 65px 0px 30px;
        }

        @include mobile(1420px) {
          padding: 70px 35px 0px 30px;
        }

        @include mobile(1200px) {
          padding: 70px 35px 0px 15px;
        }

        &-icon {
          width: 40px;
          height: 40px;
        }

        &-title {
          margin-top: 10px;
          font-size: 24px;
          font-weight: 800;
          color: $black-out;
          line-height: 38px;
        }

        &-text {
          font-family: map-get($font-change, "raleway");
          @include font(16px, 400, $black-out);
          opacity: 0.7;
          line-height: 24px;

          @include mobile(470px) {
            font-size: 20px;
          }
        }
      }
    }
  }
}
