<svg display="none">
  <symbol id="pricing-confetti-one" viewBox="0 0 48 55">
    <path
      d="M4.00508 27.6346L45.0042 4.04619L45.0756 51.3467L4.00508 27.6346Z"
      stroke="#FC5252"
      stroke-width="4"
    />
  </symbol>

  <symbol id="pricing-confetti-two" viewBox="0 0 37 23">
    <rect
      x="-1"
      y="17.146"
      width="40"
      height="8"
      rx="4"
      transform="rotate(-26.9782 -1 17.146)"
      fill="#222222"
    />
  </symbol>

  <symbol id="pricing-confetti-three" viewBox="0 0 27 26">
    <circle cx="13.8198" cy="13" r="13" fill="#381DDB" />
  </symbol>
</svg>

<div class="section pricing">
  <div class="pricing__confetti">
    <svg class="pricing__confetti-one">
      <use xlink:href="#pricing-confetti-one"></use>
    </svg>
    <svg class="pricing__confetti-two">
      <use xlink:href="#pricing-confetti-two"></use>
    </svg>
    <svg class="pricing__confetti-three">
      <use xlink:href="#pricing-confetti-three"></use>
    </svg>
  </div>

  <div class="section__content pricing__content">
    <h1 class="pricing__content-title">Choose a Tier that’s right for you</h1>

    <div class="pricing__content-maps">
      <div class="pricing__content-maps-item">
        <div class="pricing__content-maps-item-info">
          <h4 class="pricing__content-maps-item-info-title">Basic</h4>
          <h5 class="pricing__content-maps-item-info-subtitle">$100</h5>

          <span>1 Seat Available</span>
          <span>Access to Wifi Router</span>
          <span>Free Food & Coffee</span>

          <button type="button" class="pricing__content-maps-item-button">
            Get Tickets
          </button>
        </div>
      </div>

      <div class="pricing__content-maps-item">
        <div class="pricing__content-maps-item-info">
          <h4 class="pricing__content-maps-item-info-title primary-pricing">
            Standard
          </h4>
          <h5 class="pricing__content-maps-item-info-subtitle primary-pricing">
            $150
          </h5>

          <span>1 Seat Available</span>
          <span>Access to Wifi Router</span>
          <span>Free Food & Coffee</span>

          <button type="button" class="pricing__content-maps-item-button">
            Get Tickets
          </button>
        </div>
      </div>

      <div class="pricing__content-maps-item">
        <div class="pricing__content-maps-item-info">
          <h4 class="pricing__content-maps-item-info-title">Premium</h4>
          <h5 class="pricing__content-maps-item-info-subtitle">$200</h5>

          <span>2 Seats Available</span>
          <span>Access to Wifi Router</span>
          <span>Free Food & Coffee</span>

          <button type="button" class="pricing__content-maps-item-button">
            Get Tickets
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
