<div class="section pricing">
  <div class="section__content pricing__content">
    <h1 class="pricing__content-title">Choose a Tier that’s right for you</h1>

    <div class="pricing__content-maps">
      <div class="pricing__content-maps-item">
        <div class="pricing__content-maps-item-info">
          <h4 class="pricing__content-maps-item-info-title">Basic</h4>
          <h5 class="pricing__content-maps-item-info-subtitle">$100</h5>

          <span>1 Seat Available</span>
          <span>Access to Wifi Router</span>
          <span>Free Food & Coffee</span>

          <button type="button" class="pricing__content-maps-item-button">
            Get Tickets
          </button>
        </div>
      </div>

      <div class="pricing__content-maps-item">
        <div class="pricing__content-maps-item-info">
          <h4 class="pricing__content-maps-item-info-title primary-pricing">
            Standard
          </h4>
          <h5 class="pricing__content-maps-item-info-subtitle primary-pricing">
            $150
          </h5>

          <span>1 Seat Available</span>
          <span>Access to Wifi Router</span>
          <span>Free Food & Coffee</span>

          <button type="button" class="pricing__content-maps-item-button">
            Get Tickets
          </button>
        </div>
      </div>

      <div class="pricing__content-maps-item">
        <div class="pricing__content-maps-item-info">
          <h4 class="pricing__content-maps-item-info-title">Premium</h4>
          <h5 class="pricing__content-maps-item-info-subtitle">$200</h5>

          <span>2 Seats Available</span>
          <span>Access to Wifi Router</span>
          <span>Free Food & Coffee</span>

          <button type="button" class="pricing__content-maps-item-button">
            Get Tickets
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
