<section class="section contact">
  <div class="contact__us">
    <h1 class="contact__us-title">Contact us</h1>
    <p class="contact__us-text">
      Have an inquiry? We’ll be happy to assist you
    </p>

    <div class="contact__us-details">
      <div class="contact__us-details-phone">
        <img src="../../assets/icons/contact-icons/Phone.svg" alt="" />
        <span>+92 333 6527366</span>
      </div>
      <div class="contact__us-details-email">
        <img src="../../assets/icons/contact-icons/Email.svg" alt="" />
        <span>abuzer@greelogix.com</span>
      </div>
      <div class="contact__us-details-map">
        <img src="../../assets/icons/contact-icons/Map Pin.svg" alt="" />
        <span>Plot 252, Block L Phase 2 Johar Town, Lahore, PK</span>
      </div>
    </div>

    <div class="contact__us-picture">
      <img src="../../assets/images/contact-images/Shape.svg" alt="" />
    </div>
  </div>
  <div class="contact__form">
    <div class="contact__form-info">
      <div class="contact__form-info-title">Fill in your details</div>

      <form action="#" class="contact__form-info-details">
        <div class="contact__form-info-details-name">
          <h5 class="contact__form-info-details-name-title">Name</h5>
          <input type="text" placeholder="Введите: Имя" name="name" />
        </div>

        <div class="contact__form-info-details-email">
          <h5 class="contact__form-info-details-email-title">Email</h5>
          <input type="text" placeholder="Введите: почту" name="email" />
        </div>

        <div class="contact__form-info-details-message">
          <h5 class="contact__form-info-details-message-title">Message</h5>
          <textarea
            name="message"
            placeholder="Введите: сообщение"
            id=""
            cols="67"
            rows="4"
          ></textarea>
        </div>
      </form>

      <button type="button" class="contact__form-info-button">Submit</button>
    </div>
  </div>
</section>
