<svg display="none">
  <symbol id="genre-confetti" viewBox="0 0 182 169">
    <path
      d="M31.0681 0.999999L33.3375 41.647L73.9462 38.7727L76.2156 79.4196L116.824 76.5453L119.094 117.192L159.702 114.318L161.972 154.965"
      stroke="#84C4FF"
      stroke-width="8"
    />
    <path
      d="M19.1696 14.5066L21.4391 55.1536L62.0477 52.2793L64.3172 92.9262L104.926 90.0519L107.195 130.699L147.804 127.825L150.073 168.472"
      stroke="#381DDB"
      stroke-width="8"
    />
  </symbol>
</svg>

<section class="section genre">
  <article class="section__content genre__content">
    <div class="genre__content-picture">
      <img src="../../assets/images/genre-images/img-bottom.jpg" alt="" />
      <img src="../../assets/images/genre-images/img-top.jpg" alt="" />
    </div>
    <div class="genre__content-info">
      <h4 class="genre__content-info-title">About Musik</h4>

      <p class="genre__content-info-text">
        Fusce justo mi, vehicula id arcu et, dapibus tristique lectus. Vivamus a
        elit sodales, tincidunt nunc non, maximus lacus. Fusce a augue sed dolor
        auctor iaculis vitae id mauris. Integer ut lectus non neque suscipit
        luctus. Mauris et erat id ipsum condimentum cursus. Sed tempus enim non
        massa mattis iaculis. In quis massa risus
      </p>

      <button type="button" class="genre__content-info-button">
        Learn More
        <img src="../../assets/icons/genre-icons/Vector.png" alt="" />
      </button>
    </div>
  </article>

  <svg class="genre__confetti">
    <use xlink:href="#genre-confetti"></use>
  </svg>
</section>
