<section class="section header">
  <article class="section__content header__content">
    <div class="header__content-logo">
      <img src="../../assets/icons/header-icons/Logo.svg" alt="" />
    </div>
    <nav class="header__content-menu">
      <div class="header__content-menu-burger">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <ul class="header__content-menu-list">
        <li class="header__content-menu-list-item">
          <a href="#" class="header__content-menu-list-item-link"> Home </a>
        </li>

        <li class="header__content-menu-list-item menu__speakers">
          <a href="#" class="header__content-menu-list-item-link"> Speakers </a>
          <img
            src="../../assets/icons/header-icons/Vector-(Stroke).svg"
            alt=""
          />
          <ul class="header__content-menu-list-item-drop">
            <li class="header__content-menu-list-item-drop-link">Speakers</li>
            <li class="header__content-menu-list-item-drop-link">Speakers</li>
            <li class="header__content-menu-list-item-drop-link">Speakers</li>
          </ul>
        </li>

        <li class="header__content-menu-list-item menu__schedule">
          <a href="#" class="header__content-menu-list-item-link"> Schedule </a>
          <img
            src="../../assets/icons/header-icons/Vector-(Stroke).svg"
            alt=""
          />
          <ul
            class="header__content-menu-list-item-drop header__content-menu-list-item-drop-schedule"
          >
            <li class="header__content-menu-list-item-drop-link">Schedule</li>
            <li class="header__content-menu-list-item-drop-link">Schedule</li>
            <li class="header__content-menu-list-item-drop-link">Schedule</li>
          </ul>
        </li>

        <li class="header__content-menu-list-item">
          <a href="#" class="header__content-menu-list-item-link">
            Contact Us
          </a>
        </li>

        <button type="button" class="header__content-menu-list-button">
          GET TICKETS
        </button>
      </ul>
    </nav>
  </article>
</section>
