.video {
  margin-top: 240px;
  position: relative;
  overflow: hidden;

  &__confetti {
    & svg {
      fill: transparent;
    }

    @include mobile(1200px) {
      display: none;
    }

    &-one {
      position: absolute;
      top: 50px;
      right: -50px;
    }

    &-two {
      position: absolute;
      left: 140px;
      bottom: 0px;
      transform: rotate(90deg);
      width: 106px;
      height: 97px;
    }

    &-three {
      position: absolute;
      right: 117px;
      bottom: 0px;
      width: 144px;
      height: 117px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 100px;

    &-title {
      @include font(32px, 600, $black-out);
      text-transform: capitalize;
    }

    &-text {
      font-family: map-get($font-change, "raleway");
      @include font(24px, 400, $black-out);

      @include mobile(645px) {
        text-align: center;
        line-height: 35px;
        font-size: 27px;
      }
    }

    &-video {
      margin-top: 50px;
      display: flex;
      gap: 50px;

      @include mobile(1200px) {
        max-width: 100%;
        position: relative;
      }

      & iframe {
        width: 800px;
        height: 300px;
      }

      & {
        &--close {
          display: none;
        }
      }

      &-close {
        width: 20px;
        height: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include mobile(1200px) {
          position: absolute;
          top: 5px;
          right: 5px;
          width: 30px;
          height: 21px;
        }

        &:hover {
          cursor: pointer;
        }

        & span {
          height: 2px;
          background-color: $black-out;
          width: 100%;

          @include mobile(1200px) {
            background-color: $blue-copper-ore;
          }

          &:first-child {
            transform: rotate(41deg);
            transform-origin: top left;
          }

          &:last-child {
            transform: rotate(-41deg);
            transform-origin: bottom left;
          }
        }
      }
    }
  }
}
