<section class="section footer">
  <article class="section__content footer__content">
    <div class="footer__content-menu">
      <div class="footer__content-menu-logo">
        <img src="../../assets/icons/header-icons/Logo.svg" alt="" />
      </div>
      <ul class="footer__content-menu-nav">
        <li class="footer__content-menu-nav-link">
          <a href="#">Home</a>
        </li>

        <li class="footer__content-menu-nav-link">
          <a href="#">Company</a>
        </li>

        <li class="footer__content-menu-nav-link">
          <a href="#">Blog</a>
        </li>

        <li class="footer__content-menu-nav-link">
          <a href="#">Contact us</a>
        </li>

        <li class="footer__content-menu-nav-link">
          <a href="#">sitemap</a>
        </li>
      </ul>
    </div>

    <div class="footer__content-media">
      <ul class="footer__content-media-menu">
        <li class="footer__content-media-menu-link">
          <a href="#">
            <img src="../../assets/icons/footer-icons/Facebook.svg" alt="" />
          </a>
        </li>

        <li class="footer__content-media-menu-link">
          <a href="#">
            <img src="../../assets/icons/footer-icons/Twitter.svg" alt="" />
          </a>
        </li>

        <li class="footer__content-media-menu-link">
          <a href="#">
            <img src="../../assets/icons/footer-icons/Linkedin.svg" alt="" />
          </a>
        </li>

        <li class="footer__content-media-menu-link">
          <a href="#">
            <img src="../../assets/icons/footer-icons/Instagram.svg" alt="" />
          </a>
        </li>
      </ul>

      <span>© musik.com, 2021 </span>
    </div>
  </article>
</section>
