<section class="section testimonials">
  <h1 class="testimonials__title">Testimonials</h1>

  <div class="swiper testimonials__slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide testimonials__slider-slide">
        <div class="testimonials__slider-slide-info">
          <img src="../../assets/icons/testimonials-icons/Quotes.svg" alt="" />
          <p class="testimonials__slider-slide-info-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
          <img
            src="../../assets/icons/testimonials-icons/Quotes-1.svg"
            alt=""
          />
        </div>

        <div class="testimonials__slider-slide-person">
          <img
            src="../../assets/images/testimonials-image/Avatar-2.svg"
            alt=""
          />
          <span class="testimonials__slider-slide-person-name"
            >Ellie James</span
          >
          <a href="#" class="testimonials__slider-slide-person-link"
            >lorem.com</a
          >
        </div>
      </div>

      <div class="swiper-slide testimonials__slider-slide">
        <div class="testimonials__slider-slide-info">
          <img src="../../assets/icons/testimonials-icons/Quotes.svg" alt="" />
          <p class="testimonials__slider-slide-info-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
          <img
            src="../../assets/icons/testimonials-icons/Quotes-1.svg"
            alt=""
          />
        </div>

        <div class="testimonials__slider-slide-person">
          <img
            src="../../assets/images/testimonials-image/Avatar-1.svg"
            alt=""
          />
          <span class="testimonials__slider-slide-person-name">Johnny Doe</span>
          <a href="#" class="testimonials__slider-slide-person-link"
            >ipsum.com</a
          >
        </div>
      </div>

      <div class="swiper-slide testimonials__slider-slide">
        <div class="testimonials__slider-slide-info">
          <img src="../../assets/icons/testimonials-icons/Quotes.svg" alt="" />
          <p class="testimonials__slider-slide-info-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
          <img
            src="../../assets/icons/testimonials-icons/Quotes-1.svg"
            alt=""
          />
        </div>

        <div class="testimonials__slider-slide-person">
          <img src="../../assets/images/testimonials-image/Avatar.svg" alt="" />
          <span class="testimonials__slider-slide-person-name"
            >Myne Barack</span
          >
          <a href="#" class="testimonials__slider-slide-person-link"
            >ipsum.com</a
          >
        </div>
      </div>

      <div class="swiper-slide testimonials__slider-slide">
        <div class="testimonials__slider-slide-info">
          <img src="../../assets/icons/testimonials-icons/Quotes.svg" alt="" />
          <p class="testimonials__slider-slide-info-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
          <img
            src="../../assets/icons/testimonials-icons/Quotes-1.svg"
            alt=""
          />
        </div>

        <div class="testimonials__slider-slide-person">
          <img
            src="../../assets/images/testimonials-image/Avatar-2.svg"
            alt=""
          />
          <span class="testimonials__slider-slide-person-name"
            >Ellie James</span
          >
          <a href="#" class="testimonials__slider-slide-person-link"
            >lorem.com</a
          >
        </div>
      </div>

      <div class="swiper-slide testimonials__slider-slide">
        <div class="testimonials__slider-slide-info">
          <img src="../../assets/icons/testimonials-icons/Quotes.svg" alt="" />
          <p class="testimonials__slider-slide-info-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
          <img
            src="../../assets/icons/testimonials-icons/Quotes-1.svg"
            alt=""
          />
        </div>

        <div class="testimonials__slider-slide-person">
          <img
            src="../../assets/images/testimonials-image/Avatar-1.svg"
            alt=""
          />
          <span class="testimonials__slider-slide-person-name">Johnny Doe</span>
          <a href="#" class="testimonials__slider-slide-person-link"
            >ipsum.com</a
          >
        </div>
      </div>

      <div class="swiper-slide testimonials__slider-slide">
        <div class="testimonials__slider-slide-info">
          <img src="../../assets/icons/testimonials-icons/Quotes.svg" alt="" />
          <p class="testimonials__slider-slide-info-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
          <img
            src="../../assets/icons/testimonials-icons/Quotes-1.svg"
            alt=""
          />
        </div>

        <div class="testimonials__slider-slide-person">
          <img src="../../assets/images/testimonials-image/Avatar.svg" alt="" />
          <span class="testimonials__slider-slide-person-name"
            >Myne Barack</span
          >
          <a href="#" class="testimonials__slider-slide-person-link"
            >ipsum.com</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
