.shots {
  position: relative;
  margin-top: 240px;
  height: 770px;
  background: linear-gradient(
    180deg,
    rgba(252, 82, 82, 0.05) 0%,
    rgba(252, 82, 82, 0) 100%
  );

  &__instagram {
    position: absolute;
    left: 498px;

    @include mobile(990px) {
      display: none;
    }
  }

  &__title {
    padding-top: 160px;
    margin-left: 375px;
    font-family: $montserrat;
    @include font(34px, 700, $black-out);
    line-height: 44px;
  }

  &__slider {
    position: relative;
    margin-top: 60px;
    width: 100%;
    height: 510px;
    overflow: hidden;

    & input {
      position: absolute;
      visibility: hidden;
    }

    &-slides {
      width: 200%;
      height: 100%;
      display: flex;

      &-slide {
        width: 50%;
        display: flex;
        justify-content: space-between;
        transition: all 0.8s ease;

        @include mobile(1370px) {
          &:nth-child(1) {
            &:nth-child(4) {
              display: none;
            }
          }
        }

        &-item {
          max-width: 18%;
          height: auto;

          @include mobile(1370px) {
            &:nth-child(4) {
              display: none;
            }
          }

          display: flex;
          flex-direction: column;
          gap: 26px;

          & img {
            max-width: 370px;
            height: 370px;
          }

          &-info {
            display: flex;
            flex-direction: column;
            gap: 8px;

            & span {
              font-family: $montserrat;
              @include font(16px, 700, $black-out);
              line-height: 24px;
            }

            &-title {
              font-family: $raleway;
              @include font(16px, 400, $black-out);
              line-height: 24px;
            }

            &-text {
              font-family: $raleway;
              @include font(15px, 400, $black-out);
              line-height: 24px;
              opacity: 0.5;
            }

            &-active {
              display: flex;
              gap: 40px;

              & svg {
                width: 24px;
                height: 24px;
              }

              &-hearts {
                display: flex;
                gap: 8px;
                align-items: center;
              }

              &-coments {
                display: flex;
                gap: 8px;
                align-items: center;
              }
            }
          }
        }
      }
    }

    &-navigation {
      position: absolute;
      display: flex;
      justify-content: space-between;
      width: 100%;
      bottom: 320px;

      &-prev {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 120px;

        @include mobile(1440px) {
          margin-left: 80px;
        }

        & img {
          width: 33px;
          height: 33px;
        }
      }

      &-next {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 120px;

        @include mobile(1440px) {
          margin-right: 80px;
        }

        & img {
          width: 33px;
          height: 33px;
          transform: rotate(180deg);
        }
      }
    }
    #r1:checked ~ .r1 {
      margin-left: 0;
    }

    #r2:checked ~ .r1 {
      margin-left: -50%;
    }
  }
}
