<section class="section shots">
  <img
    class="shots__instagram"
    src="../../assets/images/see-images/Instagram.svg"
    alt=""
  />

  <h1 class="shots__title">See our Best Shots</h1>

  <div class="swiper shots__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide shots__swiper-slide">
        <div class="shots__swiper-slide-map">
          <div class="shots__swiper-slide-picture">
            <img src="../../assets/images/see-images/Img-1.jpg" alt="" />
          </div>

          <div class="shots__swiper-slide-info">
            <div class="shots__swiper-slide-info-reaction">
              <div class="shots__swiper-slide-info-reaction-like">
                <img src="../../assets/icons/see-icons/Heart.svg" alt="" />
                <span>412</span>
              </div>
              <div class="shots__swiper-slide-info-reaction-chat">
                <img src="../../assets/icons/see-icons/Chat.svg" alt="" />
                <span>140</span>
              </div>
            </div>

            <h6 class="shots__swiper-slide-info-title">Lorem Ipsum Amet</h6>
            <p class="shots__swiper-slide-info-hashtags">
              #music #concert #conference #london #event #artist #dj #soundtrack
              #dance
            </p>
          </div>
        </div>

        <div class="shots__swiper-slide-map">
          <div class="shots__swiper-slide-picture">
            <img src="../../assets/images/see-images/Img.jpg" alt="" />
          </div>

          <div class="shots__swiper-slide-info">
            <div class="shots__swiper-slide-info-reaction">
              <div class="shots__swiper-slide-info-reaction-like">
                <img src="../../assets/icons/see-icons/Heart.svg" alt="" />
                <span>412</span>
              </div>
              <div class="shots__swiper-slide-info-reaction-chat">
                <img src="../../assets/icons/see-icons/Chat.svg" alt="" />
                <span>140</span>
              </div>
            </div>

            <h6 class="shots__swiper-slide-info-title">Lorem Ipsum Amet</h6>
            <p class="shots__swiper-slide-info-hashtags">
              #music #concert #conference #london #event #artist #dj #soundtrack
              #dance
            </p>
          </div>
        </div>

        <div class="shots__swiper-slide-map">
          <div class="shots__swiper-slide-picture">
            <img src="../../assets/images/see-images/Img-1.jpg" alt="" />
          </div>

          <div class="shots__swiper-slide-info">
            <div class="shots__swiper-slide-info-reaction">
              <div class="shots__swiper-slide-info-reaction-like">
                <img src="../../assets/icons/see-icons/Heart.svg" alt="" />
                <span>412</span>
              </div>
              <div class="shots__swiper-slide-info-reaction-chat">
                <img src="../../assets/icons/see-icons/Chat.svg" alt="" />
                <span>140</span>
              </div>
            </div>

            <h6 class="shots__swiper-slide-info-title">Lorem Ipsum Amet</h6>
            <p class="shots__swiper-slide-info-hashtags">
              #music #concert #conference #london #event #artist #dj #soundtrack
              #dance
            </p>
          </div>
        </div>

        <div class="shots__swiper-slide-map">
          <div class="shots__swiper-slide-picture">
            <img src="../../assets/images/see-images/Img.jpg" alt="" />
          </div>

          <div class="shots__swiper-slide-info">
            <div class="shots__swiper-slide-info-reaction">
              <div class="shots__swiper-slide-info-reaction-like">
                <img src="../../assets/icons/see-icons/Heart.svg" alt="" />
                <span>412</span>
              </div>
              <div class="shots__swiper-slide-info-reaction-chat">
                <img src="../../assets/icons/see-icons/Chat.svg" alt="" />
                <span>140</span>
              </div>
            </div>

            <h6 class="shots__swiper-slide-info-title">Lorem Ipsum Amet</h6>
            <p class="shots__swiper-slide-info-hashtags">
              #music #concert #conference #london #event #artist #dj #soundtrack
              #dance
            </p>
          </div>
        </div>

        <div class="shots__swiper-slide-map">
          <div class="shots__swiper-slide-picture">
            <img src="../../assets/images/see-images/Img.jpg" alt="" />
          </div>

          <div class="shots__swiper-slide-info">
            <div class="shots__swiper-slide-info-reaction">
              <div class="shots__swiper-slide-info-reaction-like">
                <img src="../../assets/icons/see-icons/Heart.svg" alt="" />
                <span>412</span>
              </div>
              <div class="shots__swiper-slide-info-reaction-chat">
                <img src="../../assets/icons/see-icons/Chat.svg" alt="" />
                <span>140</span>
              </div>
            </div>

            <h6 class="shots__swiper-slide-info-title">Lorem Ipsum Amet</h6>
            <p class="shots__swiper-slide-info-hashtags">
              #music #concert #conference #london #event #artist #dj #soundtrack
              #dance
            </p>
          </div>
        </div>
      </div>

      <div class="swiper-slide shots__swiper-slide">
        <div class="shots__swiper-slide-map">
          <div class="shots__swiper-slide-picture">
            <img src="../../assets/images/see-images/Img.jpg" alt="" />
          </div>

          <div class="shots__swiper-slide-info">
            <div class="shots__swiper-slide-info-reaction">
              <div class="shots__swiper-slide-info-reaction-like">
                <img src="../../assets/icons/see-icons/Heart.svg" alt="" />
                <span>412</span>
              </div>
              <div class="shots__swiper-slide-info-reaction-chat">
                <img src="../../assets/icons/see-icons/Chat.svg" alt="" />
                <span>140</span>
              </div>
            </div>

            <h6 class="shots__swiper-slide-info-title">Lorem Ipsum Amet</h6>
            <p class="shots__swiper-slide-info-hashtags">
              #music #concert #conference #london #event #artist #dj #soundtrack
              #dance
            </p>
          </div>
        </div>

        <div class="shots__swiper-slide-map">
          <div class="shots__swiper-slide-picture">
            <img src="../../assets/images/see-images/Img.jpg" alt="" />
          </div>

          <div class="shots__swiper-slide-info">
            <div class="shots__swiper-slide-info-reaction">
              <div class="shots__swiper-slide-info-reaction-like">
                <img src="../../assets/icons/see-icons/Heart.svg" alt="" />
                <span>412</span>
              </div>
              <div class="shots__swiper-slide-info-reaction-chat">
                <img src="../../assets/icons/see-icons/Chat.svg" alt="" />
                <span>140</span>
              </div>
            </div>

            <h6 class="shots__swiper-slide-info-title">Lorem Ipsum Amet</h6>
            <p class="shots__swiper-slide-info-hashtags">
              #music #concert #conference #london #event #artist #dj #soundtrack
              #dance
            </p>
          </div>
        </div>

        <div class="shots__swiper-slide-map">
          <div class="shots__swiper-slide-picture">
            <img src="../../assets/images/see-images/Img.jpg" alt="" />
          </div>

          <div class="shots__swiper-slide-info">
            <div class="shots__swiper-slide-info-reaction">
              <div class="shots__swiper-slide-info-reaction-like">
                <img src="../../assets/icons/see-icons/Heart.svg" alt="" />
                <span>412</span>
              </div>
              <div class="shots__swiper-slide-info-reaction-chat">
                <img src="../../assets/icons/see-icons/Chat.svg" alt="" />
                <span>140</span>
              </div>
            </div>

            <h6 class="shots__swiper-slide-info-title">Lorem Ipsum Amet</h6>
            <p class="shots__swiper-slide-info-hashtags">
              #music #concert #conference #london #event #artist #dj #soundtrack
              #dance
            </p>
          </div>
        </div>

        <div class="shots__swiper-slide-map">
          <div class="shots__swiper-slide-picture">
            <img src="../../assets/images/see-images/Img.jpg" alt="" />
          </div>

          <div class="shots__swiper-slide-info">
            <div class="shots__swiper-slide-info-reaction">
              <div class="shots__swiper-slide-info-reaction-like">
                <img src="../../assets/icons/see-icons/Heart.svg" alt="" />
                <span>412</span>
              </div>
              <div class="shots__swiper-slide-info-reaction-chat">
                <img src="../../assets/icons/see-icons/Chat.svg" alt="" />
                <span>140</span>
              </div>
            </div>

            <h6 class="shots__swiper-slide-info-title">Lorem Ipsum Amet</h6>
            <p class="shots__swiper-slide-info-hashtags">
              #music #concert #conference #london #event #artist #dj #soundtrack
              #dance
            </p>
          </div>
        </div>

        <div class="shots__swiper-slide-map">
          <div class="shots__swiper-slide-picture">
            <img src="../../assets/images/see-images/Img.jpg" alt="" />
          </div>

          <div class="shots__swiper-slide-info">
            <div class="shots__swiper-slide-info-reaction">
              <div class="shots__swiper-slide-info-reaction-like">
                <img src="../../assets/icons/see-icons/Heart.svg" alt="" />
                <span>412</span>
              </div>
              <div class="shots__swiper-slide-info-reaction-chat">
                <img src="../../assets/icons/see-icons/Chat.svg" alt="" />
                <span>140</span>
              </div>
            </div>

            <h6 class="shots__swiper-slide-info-title">Lorem Ipsum Amet</h6>
            <p class="shots__swiper-slide-info-hashtags">
              #music #concert #conference #london #event #artist #dj #soundtrack
              #dance
            </p>
          </div>
        </div>
      </div>

      <!-- <div class="swiper-slide shots__swiper-slide">
        <div class="shots__swiper-slide-picture">
          <img src="../../assets/images/see-images/Img-2.jpg" alt="" />
        </div>

        <div class="shots__swiper-slide-info">
          <div class="shots__swiper-slide-info-reaction">
            <div class="shots__swiper-slide-info-reaction-like">
              <img src="../../assets/icons/see-icons/Heart.svg" alt="" />
              <span>412</span>
            </div>
            <div class="shots__swiper-slide-info-reaction-chat">
              <img src="../../assets/icons/see-icons/Chat.svg" alt="" />
              <span>140</span>
            </div>
          </div>

          <h6 class="shots__swiper-slide-info-title">Lorem Ipsum Amet</h6>
          <p class="shots__swiper-slide-info-hashtags">
            #music #concert #conference #london #event #artist #dj #soundtrack
            #dance
          </p>
        </div>
      </div> -->

      <!-- <div class="swiper-slide shots__swiper-slide">
        <div class="shots__swiper-slide-picture">
          <img src="../../assets/images/see-images/Img-3.jpg" alt="" />
        </div>

        <div class="shots__swiper-slide-info">
          <div class="shots__swiper-slide-info-reaction">
            <div class="shots__swiper-slide-info-reaction-like">
              <img src="../../assets/icons/see-icons/Heart.svg" alt="" />
              <span>412</span>
            </div>
            <div class="shots__swiper-slide-info-reaction-chat">
              <img src="../../assets/icons/see-icons/Chat.svg" alt="" />
              <span>140</span>
            </div>
          </div>

          <h6 class="shots__swiper-slide-info-title">Lorem Ipsum Amet</h6>
          <p class="shots__swiper-slide-info-hashtags">
            #music #concert #conference #london #event #artist #dj #soundtrack
            #dance
          </p>
        </div>
      </div>

      <div class="swiper-slide shots__swiper-slide">
        <div class="shots__swiper-slide-picture">
          <img src="../../assets/images/see-images/Img-4.jpg" alt="" />
        </div>

        <div class="shots__swiper-slide-info">
          <div class="shots__swiper-slide-info-reaction">
            <div class="shots__swiper-slide-info-reaction-like">
              <img src="../../assets/icons/see-icons/Heart.svg" alt="" />
              <span>412</span>
            </div>
            <div class="shots__swiper-slide-info-reaction-chat">
              <img src="../../assets/icons/see-icons/Chat.svg" alt="" />
              <span>140</span>
            </div>
          </div>

          <h6 class="shots__swiper-slide-info-title">Lorem Ipsum Amet</h6>
          <p class="shots__swiper-slide-info-hashtags">
            #music #concert #conference #london #event #artist #dj #soundtrack
            #dance
          </p>
        </div>
      </div>

      <div class="swiper-slide shots__swiper-slide">
        <div class="shots__swiper-slide-picture">
          <img src="../../assets/images/see-images/Img-1.jpg" alt="" />
        </div>

        <div class="shots__swiper-slide-info">
          <div class="shots__swiper-slide-info-reaction">
            <div class="shots__swiper-slide-info-reaction-like">
              <img src="../../assets/icons/see-icons/Heart.svg" alt="" />
              <span>412</span>
            </div>
            <div class="shots__swiper-slide-info-reaction-chat">
              <img src="../../assets/icons/see-icons/Chat.svg" alt="" />
              <span>140</span>
            </div>
          </div>

          <h6 class="shots__swiper-slide-info-title">Lorem Ipsum Amet</h6>
          <p class="shots__swiper-slide-info-hashtags">
            #music #concert #conference #london #event #artist #dj #soundtrack
            #dance
          </p>
        </div>
      </div>

      <div class="swiper-slide shots__swiper-slide">
        <div class="shots__swiper-slide-picture">
          <img src="../../assets/images/see-images/Img.jpg" alt="" />
        </div>

        <div class="shots__swiper-slide-info">
          <div class="shots__swiper-slide-info-reaction">
            <div class="shots__swiper-slide-info-reaction-like">
              <img src="../../assets/icons/see-icons/Heart.svg" alt="" />
              <span>412</span>
            </div>
            <div class="shots__swiper-slide-info-reaction-chat">
              <img src="../../assets/icons/see-icons/Chat.svg" alt="" />
              <span>140</span>
            </div>
          </div>

          <h6 class="shots__swiper-slide-info-title">Lorem Ipsum Amet</h6>
          <p class="shots__swiper-slide-info-hashtags">
            #music #concert #conference #london #event #artist #dj #soundtrack
            #dance
          </p>
        </div>
      </div>

      <div class="swiper-slide shots__swiper-slide">
        <div class="shots__swiper-slide-picture">
          <img src="../../assets/images/see-images/Img-2.jpg" alt="" />
        </div>

        <div class="shots__swiper-slide-info">
          <div class="shots__swiper-slide-info-reaction">
            <div class="shots__swiper-slide-info-reaction-like">
              <img src="../../assets/icons/see-icons/Heart.svg" alt="" />
              <span>412</span>
            </div>
            <div class="shots__swiper-slide-info-reaction-chat">
              <img src="../../assets/icons/see-icons/Chat.svg" alt="" />
              <span>140</span>
            </div>
          </div>

          <h6 class="shots__swiper-slide-info-title">Lorem Ipsum Amet</h6>
          <p class="shots__swiper-slide-info-hashtags">
            #music #concert #conference #london #event #artist #dj #soundtrack
            #dance
          </p>
        </div>
      </div>

      <div class="swiper-slide shots__swiper-slide">
        <div class="shots__swiper-slide-picture">
          <img src="../../assets/images/see-images/Img-3.jpg" alt="" />
        </div>

        <div class="shots__swiper-slide-info">
          <div class="shots__swiper-slide-info-reaction">
            <div class="shots__swiper-slide-info-reaction-like">
              <img src="../../assets/icons/see-icons/Heart.svg" alt="" />
              <span>412</span>
            </div>
            <div class="shots__swiper-slide-info-reaction-chat">
              <img src="../../assets/icons/see-icons/Chat.svg" alt="" />
              <span>140</span>
            </div>
          </div>

          <h6 class="shots__swiper-slide-info-title">Lorem Ipsum Amet</h6>
          <p class="shots__swiper-slide-info-hashtags">
            #music #concert #conference #london #event #artist #dj #soundtrack
            #dance
          </p>
        </div>
      </div>

      <div class="swiper-slide shots__swiper-slide">
        <div class="shots__swiper-slide-picture">
          <img src="../../assets/images/see-images/Img-4.jpg" alt="" />
        </div>

        <div class="shots__swiper-slide-info">
          <div class="shots__swiper-slide-info-reaction">
            <div class="shots__swiper-slide-info-reaction-like">
              <img src="../../assets/icons/see-icons/Heart.svg" alt="" />
              <span>412</span>
            </div>
            <div class="shots__swiper-slide-info-reaction-chat">
              <img src="../../assets/icons/see-icons/Chat.svg" alt="" />
              <span>140</span>
            </div>
          </div>

          <h6 class="shots__swiper-slide-info-title">Lorem Ipsum Amet</h6>
          <p class="shots__swiper-slide-info-hashtags">
            #music #concert #conference #london #event #artist #dj #soundtrack
            #dance
          </p>
        </div>
      </div> -->
    </div>

    <div class="shots__swiper-next">
      <img src="../../assets/icons/see-icons/Arrow.svg" alt="" />
    </div>
    <div class="shots__swiper-prev">
      <img src="../../assets/icons/see-icons/Arrow.svg" alt="" />
    </div>
  </div>
</section>
