.shots {
  position: relative;
  margin-top: 240px;
  height: 770px;
  background: linear-gradient(
    180deg,
    rgba(252, 82, 82, 0.05) 0%,
    rgba(252, 82, 82, 0) 100%
  );

  &__instagram {
    position: absolute;
    left: 498px;

    @include mobile(990px) {
      display: none;
    }
  }

  &__title {
    padding-top: 160px;
    margin-left: 375px;
    font-family: $montserrat;
    @include font(34px, 700, $black-out);
    line-height: 44px;
  }
}
