<section class="section sponsors">
  <article class="section__content sponsors__content">
    <h1 class="sponsors__content-title">Our Sponsors</h1>

    <div class="sponsors__content-company">
      <div class="sponsors__content-company-first">
        <a href="https://www.google.com/?hl=RU" target="_blank">
          <img src="../../assets/images/sponsors-image/Img.jpg" alt="" />
        </a>

        <a href="https://www.microsoft.com/ru-ru" target="_blank">
          <img src="../../assets/images/sponsors-image/Img-1.jpg" alt="" />
        </a>

        <a href="https://www.airbnb.ru/" target="_blank">
          <img src="../../assets/images/sponsors-image/Img-2.jpg" alt="" />
        </a>

        <a href="https://www.axure.com/" target="_blank">
          <img src="../../assets/images/sponsors-image/Img-3.jpg" alt="" />
        </a>
      </div>

      <div class="sponsors__content-company-last">
        <a href="https://www.apple.com/ru/" target="_blank">
          <img src="../../assets/images/sponsors-image/Img-4.jpg" alt="" />
        </a>

        <a href="https://ru-ru.facebook.com/" target="_blank">
          <img src="../../assets/images/sponsors-image/Img-5.jpg" alt="" />
        </a>

        <a href="https://www.nokia.com/phones/ru_ru" target="_blank">
          <img src="../../assets/images/sponsors-image/Img-6.jpg" alt="" />
        </a>

        <a href="https://www.oracle.com/cis/" target="_blank">
          <img src="../../assets/images/sponsors-image/Img-7.jpg" alt="" />
        </a>
      </div>
    </div>

    <button type="button" class="sponsors__content-button">
      Become a Sponsor
    </button>
  </article>
</section>
